
<div class="main-content">
  <h3>What is Top Mafia about?</h3>
  <h4>Free to play text-based Mafia MMORPG!</h4>
  <p>Join the ultimate battle of becoming the top gangster of your city while experiencing the utmost real life criminal pressure!</p>
  <p>Create fear and earn respect in your neighbourhood, operate the largest drug cartels, recruit the best gangsters for your gang and offer protection to the city. It doesn't stop there! Once your on top you can travel in your own private jet and hire the most powerful security team to keep you protected wherever you are. </p>
  <p>You can choose to relax under the Miami sun or try your luck at the best casinos of Las Vegas. Anything is possible here at Top Mafia.</p>
  <p>There are tons of features & activities to keep you entertained and busy all day!</p>
  <p>Do you think your ready to turn your dream into reality? Join the free massively multiplayer mafia text based role playing game and begin your journey!</p>
</div>
