
<FilesMatch "\.(htaccess)$">
    Require all denied
</FilesMatch>

<FilesMatch "/.(htaccess)$">
    Require all denied
</FilesMatch>

<Files composer.json>
    order allow,deny
    Deny from all
</Files>

<Files composer.lock>
    order allow,deny
    Deny from all
</Files>

<Files .env>
    order allow,deny
    Deny from all
</Files>

<Files .env.private>
    order allow,deny
    Deny from all
</Files>

<Files .gitignore>
    order allow,deny
    Deny from all
</Files>

Options -Indexes