
<form [formGroup]="registerForm" autocomplete="off">

  <label class="form-font" for="username">Username</label>
  <input type="text" id="username" class="text-general" required>

  <label class="form-font" for="username">Username</label>
  <input type="text" id="username" class="text-general" required>

  <label class="form-font" for="password">Password</label>
  <input type="password" id="password" class="text-general" required>

  <label class="form-font" for="confirm-password">Confirm Password</label>
  <input type="password" id="confirm-password" class="text-general" required>

  <label class="form-font" for="email">Email</label>
  <input type="email" id="email" class="text-general" required>

  <label class="form-font" for="gender">Gender</label>
  <select id="gender" class="text-general" id="gender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>

  <label class="form-font" for="sponsor-id">Sponsor ID</label>
  <input type="number" id="sponsor-id" class="text-general">

  <input type="button" class="primary button" id="signup_btn" value="Sign up">

</form>
