

<div class="app">

  <!-- logo -->
  <div id="logo">
    <img src="./../assets/images/tmlogo.png">
  </div>

  <!-- drawer -->
  <div class="borderbox" id="drawer">
    <div id="drawer-inner-div">
      <div #drawer class="drawer-nav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <a #homeLink          (click)="setActiveLink( 'homeLink' )" class="active">Home</a>
        <a #storyLink         (click)="setActiveLink( 'storyLink' )">Story</a>
        <a #accountLink       (click)="setActiveLink( 'accountLink' )">Account</a>
        <a #gameRulesLink     (click)="setActiveLink( 'gameRulesLink' )">Game Rules</a>
        <a #privacyPolicyLink (click)="setActiveLink( 'privacyPolicyLink' )">Privacy Policy</a>
        <a #contactUsLink     (click)="setActiveLink( 'contactUsLink' )">Contact Us</a>
      </div>
      <span style="cursor:pointer" class="icon" (click)="openNav()">&#9776; Main Menu</span>
    </div>
  </div>

  <div id="main">

    <!-- navbar -->
    <div class="navBar">
      <div class="borderbox">
        <div style="float:left;">
          <span id="onlinePlayersCount"><b>{{onlinePlayersCount}}</b> Online</span>
        </div>
        <div style="float:right;">
          <div class="formlogin">

            <!-- TODO login form -->
            <!-- <form>
              <input type="text" class="inputclass" placeholder="username">
              <input type="password" class="inputclass" placeholder="password">
              <button type="button" class="primary button">Login</button>
            </form> -->

            <!-- TODO register form -->
            <button #registerLink  type="button" class="primarysignup button" (click)="setActiveLink( 'registerLink' )">Register</button>

          </div>
        </div>
      </div>
    </div>

    <!-- TODO refactor -->
    <div id="succ" style="display:none;">Your are being loggedin, please wait...</div>
    <div class="bannerslider1">
    <div class="navLinks">
    <div class="borderbox">
    <div style="float:left;">
    <span class="rightusers">3,000 Players Registered!
    <br />
    <b>Join the treacherous world of the mafia.</b></span>
    </div>
    <div style="float:right;">
    <button class="primaryfb button">Facebook Login</button>
    </div>
    </div>
    </div>
    </div>
    <div id="content">

    <!-- SO dynamic content loading -->
    <app-slideshow      *ngIf="this.activeLink == 'homeLink'"></app-slideshow>
    <app-home           *ngIf="this.activeLink == 'homeLink'"></app-home>
    <app-register-form  *ngIf="this.activeLink == 'registerLink'"></app-register-form>
    <app-story          *ngIf="this.activeLink == 'storyLink'"></app-story>
    <app-account        *ngIf="this.activeLink == 'accountLink'"></app-account>
    <app-game-rules     *ngIf="this.activeLink == 'gameRulesLink'"></app-game-rules>
    <app-privacy-policy *ngIf="this.activeLink == 'privacyPolicyLink'"></app-privacy-policy>
    <app-contact-us     *ngIf="this.activeLink == 'contactUsLink'"></app-contact-us>
    <!-- EO dynamic content loading -->

    <div class="freetoplay">
    <button class="primarysignup2 button">Play Now</button>
    </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>
