
@import "./variables.scss";

// TODO refactor

// SO buttons
.button {
	border-radius: 5px;
	text-shadow  : $app-black 1px 1px 1px;
	text-align   : center;
	width        : 185px;
	height       : 40px;
	margin-bottom: 10px;
	color        : $app-white;
	font-size    : 14px;
	border       : 1px solid $app-black-alt3;
}

// SO fonts
.text-general {
	outline                : none;
	font-family            : 'Roboto', sans-serif;
	font-size              : 12px;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	height                 : 50px;
	border-radius          : 5px;
	width                  : 100%;
	background-color       : $app-black-alt3;
	box-shadow             : inset 0 0 5px $app-black-alt4;
	margin-bottom          : 6px;
	border                 : none;
	color                  : $app-gray;
	text-align             : center;
}

// SO forms
button,
input {
  font-family             : 'Jersey M54';
  -moz-appearance         : none;
  -webkit-text-size-adjust: none;
}
button  :focus,
input   :focus,
textarea:focus
{
	border: none;
	outline: none;
}
.error-feedback {
	padding         : 10px;
	font-family     : "Roboto";
	font-weight     : 600;
	text-transform  : uppercase;
	margin-top      : 10px;
	border          : 1px solid $app-red;
	background-color: $app-black-alt5;
	color           : $app-red-light;
	text-align      : center;
}
.form-font {
	font-family: 'Roboto';
	font-weight: 700;
	color      : $app-gray-alt;
}
form input {
  padding: 10px;
}

// SO themes
.primary {
	box-shadow: inset $app-brown 1px 1px 0;
	background: linear-gradient( to bottom, $app-red 0, $app-dark-red 100% )
}
.primary:active {
	background: $app-red;
}
