

// SO colors palette
$app-background-black   :#1c1c1c;
$app-black              :#000;
$app-black-alt          :rgba(0, 0, 0, 0.775);
$app-black-alt2         :rgba(0, 0, 0, 0.597);
$app-border-black       :#0c0c0c;
$app-border-black2      :#222;
$app-border-black-light :#333;
$app-less-black         :#222;

$app-white     :white;
$app-white-alt :#f1f1f1;
$app-white-font:#ccc;

$app-grey       :#666;
$app-grey-medium:#818181;
$app-grey-lite  :#999;

$app-orange: orangered;
// EO colors palette
